
## <summary>policy for Flashpaychain</summary>


########################################
## <summary>
##	Transition to Flashpaychain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`Flashpaychain_domtrans',`
	gen_require(`
		type Flashpaychain_t, Flashpaychain_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, Flashpaychain_exec_t, Flashpaychain_t)
')


########################################
## <summary>
##	Execute Flashpaychain server in the Flashpaychain domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`Flashpaychain_initrc_domtrans',`
	gen_require(`
		type Flashpaychain_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, Flashpaychain_initrc_exec_t)
')


########################################
## <summary>
##	Search Flashpaychain lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`Flashpaychain_search_lib',`
	gen_require(`
		type Flashpaychain_var_lib_t;
	')

	allow $1 Flashpaychain_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read Flashpaychain lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`Flashpaychain_read_lib_files',`
	gen_require(`
		type Flashpaychain_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, Flashpaychain_var_lib_t, Flashpaychain_var_lib_t)
')

########################################
## <summary>
##	Manage Flashpaychain lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`Flashpaychain_manage_lib_files',`
	gen_require(`
		type Flashpaychain_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, Flashpaychain_var_lib_t, Flashpaychain_var_lib_t)
')

########################################
## <summary>
##	Manage Flashpaychain lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`Flashpaychain_manage_lib_dirs',`
	gen_require(`
		type Flashpaychain_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, Flashpaychain_var_lib_t, Flashpaychain_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a Flashpaychain environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`Flashpaychain_admin',`
	gen_require(`
		type Flashpaychain_t;
		type Flashpaychain_initrc_exec_t;
		type Flashpaychain_var_lib_t;
	')

	allow $1 Flashpaychain_t:process { ptrace signal_perms };
	ps_process_pattern($1, Flashpaychain_t)

	Flashpaychain_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 Flashpaychain_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, Flashpaychain_var_lib_t)

')

